.header{
    display: flex;
    position: fixed;
    align-items: center;
    padding: 10px 10px;
    height: 10%;
    width: 99%;
    z-index: 4; 
    background-color: #252525;
    border-style:solid;
    border-color: #575757;
}
#logo{
    height: 80px;
    width: 78px;
    position: relative;
    left: 0;
    top: 1px;
}
.left-links{
    position: relative;
    margin-left: auto; 
    display: flex;
}
.link{
    width: 140px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    margin-left: 30px;
    text-align: center;
    cursor: pointer;
    font-style: italic;
}